<%= render 'shared/navbar' %>
<div class="banner text-center" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%),
url(<%= image_path("background.jpg")%>);">
  <div class="banner-content">
    <h4>Add a Cocktail</h4>

    <%= render 'form', cocktail: @cocktail %>

    <i class="fas fa-chevron-left" aria-hidden="true">
      <%= link_to "Back to your bar", cocktails_path, class: "link" %>
    </i>
  </div>

</div>
 <%= render 'shared/footer' %>
