<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
  <%= image_tag "z.jpg", height: 50 %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <%= link_to "About us", about_pages_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <!-- <%= link_to "Trips", "#", class: "navbar-wagon-item navbar-wagon-link" %> -->
    <!-- <%= link_to "Messages", "#", class: "navbar-wagon-item navbar-wagon-link" %> -->

    <!-- Profile picture with dropdown list -->

  </div>

  <!-- Dropdown appearing on mobile only -->

</div>

